[FORMAT]
# Maximum number of characters on a single line.
max-line-length=120

# Expected format of line ending, e.g. empty (any line ending), LF or CRLF.
expected-line-ending-format=LF

[LOGGING]
disable=logging-fstring-interpolation
